<p id="notice"><%= notice %></p>

<h1><%= t('give_quote_heading') %></h1>

<p>
  <%= t('give_quote',
         trip_length: @quote.trip_length.round,
         traveller_age: @quote.age,
         formatted_quote: @quote.formatted_quote) %>
</p>

<%= link_to 'Get Another Quote', new_quote_path %>
