// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 4px;
  font-weight: bold;
  color: crimson;
}
